$red: #D44133;
$black: #4A4A4A;
$white: #ffffff;
$gray: #BDBDBD;
$yellow: #F5C223;
$red-button-hover: #A13127;
$gray-button-hover: #171717;
$normal-arial: Arial;
$arial-sans: arial, sans-serif;
$arial-helvetica: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$arial-black: 'Arial Black', 'Arial Bold', Gadget, sans-serif;